<% if @user.account_type == "fouser" %>
  <div id="profile_photo">
    <%= link_to image_tag(@profile_photo.url), @profile_photo if !!@profile_photo %>
    <% if current_user[:user_id] == @user[:user_id] %>
      <p id="manage_photos"><%= link_to "Manage photos", user_photos_path(@user) %></p>
      <p id="edit_photo"><%= link_to "Edit photo", edit_photo_path(@profile_photo) %></p>
      <p id="upload_photo"><%= link_to "Upload photo", new_user_photo_path(@user) %></p>
    <% end %>
  <div id="profile_header">
    <p id="profile_name"><%= @user.name %></p>
    <p id="number_of_fouses"><%= @user.fouses.count %> fouses designed</p>
  </div>
  <%= link_to 'Design a fousegroup', new_fousegroup_path %>
<% elsif @user.account_type == "developer" %>
<% end %>
