<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
  <title>FouseApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= yield :javascript_includes %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <% if current_user %>
      <%= render 'partials/header' %>
    <% end %>
  </header>

  <%= yield %>

  <%= debug(params) if Rails.env.development? %>
</body>
</html>
